@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    color: #555;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#header{
    background-color: #1abc9c;
    height: 150px;
    line-height: 150px;
}

#header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header a:hover {
    color: #222;
}

#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#header-nav {
    display: block;
    float: right;
    margin-top: 0px;
}

#header-nav li {
    display: inline;
    padding-left: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#footer {
    background-color: #2f2f2f;
    padding: 50px 0;
    
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer p {
    color: white;
}

.column {
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

a:hover {
    color: #f6a623;
}

.post, .about {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.post-author img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 50px;
    border: solid;
}

.post-author span {
    margin-left: 16px;
}

.post-date {
    color: #d2d2d2;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    line-height: 1.5;
}    
